body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ff99f5;
  background-image: radial-gradient(
      at 61% 4%,
      hsla(303, 91%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 75% 66%, hsla(196, 91%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 98% 88%, hsla(76, 87%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 16%, hsla(238, 96%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 95% 65%, hsla(13, 91%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 79%, hsla(228, 96%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 58%, hsla(328, 81%, 68%, 1) 0px, transparent 50%);
}

.container {
  width: 300px;
  padding: 16px;
  background-color: white;
  border: 3px solid black;
  border-radius: 4px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container label {
  margin-bottom: 5px;
}

.container input[type="username"],
.container input[type="email"],
.container input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.container input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.container input[type="submit"]:hover {
  opacity: 0.8;
}
